*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* text-transform: capitalize; */
}

header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0rem 3rem;
    z-index: 1000;
}

header.active{
    background-color: #1d2a35;
}
header .navbar a.active{
    color: white;
}


header a img  {
    height: 70px;
    width: 70px;
    margin-left: -40px;
    background-color: #1d2a35;

}

header .navbar a {
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 30px 3px ;
}
header .navbar a:hover{
    background-color: #04AA6D;
    color: white;
}
header .navbar ul li{
    list-style-type: none;
    display: inline-flex;
    margin: 0px 9px;
    
}

header .navbar ul li.main a{
    display: none;
}
header .navbar{
    margin-left: -80px;
}

header .button{
    margin-right: -40px;
}

header .button .button1{
    border-radius: 25px;
    background-color: #9763f6;
    color: white;
    border: none;
    outline: none;
    width: 130px;
    padding: 14px 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s ease-in-out;
}

header .button .button1:hover{
    background-color: #9d78e1;
}

header .button .button1 i{
    margin-right: 2px;
}

header .button .button2{
    background-color: #FFC0C7;
    border-radius: 25px;
    width: 135px;
    padding: 14px 12px;
    color: black;
    border: none;
    outline: none;
    font-size: 16px;
    transition: .2s ease-in-out;
    font-weight: bold;
    cursor: pointer;
}

header .button .button2:hover{
    background-color: #f6b2ba;
}

header .button .button3{
    background-color: #FFF4A3;
    border-radius: 25px;
    width: 170px;
    padding: 14px 16px;
    color: black;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s ease-in-out;
}

header .button .button3:hover{
    background-color: #f9e444;
}

header .button .button4{
    background-color: #04AA6D;
    border-radius: 25px;
    width: 100px;
    padding: 14px 16px;
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    font-weight: bold;
    margin-right: -70px;
    z-index: 1000;
    position: relative;
    cursor: pointer;
    transition: .2s ease-in-out;
}

header .button .button4:hover{
    background-color: #08c680;
}
header .button .button5{
    background-color: #D9EEE1;
    color: black;
    border-radius: 25px;
    z-index: 1;
    font-size: 16px;
    width: 130px;
    padding: 14px 12px 14px 70px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    transition: .2s ease-in-out;
}

header .button .button5:hover{
    background-color: #04c07b;
    color: white;
}

section.home{
    background-color: white;
    padding: 6rem 0px ;
    background-color: #282A35;
    color: white;
    text-align: center;
}

section.home div.icons{
    float: right;
    
}

section.home div.icons i{
    margin: 0px 8px;
}

section.home div.title{
    padding-top: 100px;
}

section.home div.title h1{
    font-size: 60px;
    font-family: 700;
}

section.home div.title h3{
    font-size: 25px;
    font-family: 700;
    color: #FFC0C7;
    margin-top: 30px;
    margin-bottom: 30px;
}

section.home div.title input{
    border: none;
    outline: none;
    padding: 19px 20px;
    width: 40%;
    display: flex;
    border-radius: 30px;
    font-size: 13px;
    font-weight: bold;
    z-index: 1;
    margin: 0 auto;
}

/* section.home div.title button {
    background-color: #04AA6D;
    border: none;
    outline: none;
    color: white;
    width: 80px;
    padding: 15px;
    font-size: 20px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position:absolute;
    right: 437px;
    cursor: pointer;
} */

section.home div.title button:hover{
    background-color: #04c07b;

}
section.home div.title h4{
    padding-top: 30px;
    font-size: 25px;

}

section.home div.title h4 a{
    color: white;
    text-decoration: underline;
} 

section.html{
    padding: 4rem 8% ;
    background-color:#D9EEE1;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

}


section.html div.text{
    flex: 1 1 20rem;
    align-items: center;
    text-align: center;
}

section.html div.text h1{
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
    color: black;
}

section.html div.text p{
    font-size: 20px;
    font-weight: 700;
    color: black;
    margin-bottom: 30px;
}

section.html div.text button{
    margin: 15px 0px;
}

section.html div.text .button4{
    background-color: #04AA6D;
    border-radius: 25px;
    width: 200px;
    padding: 14px 16px;
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    font-weight: bold;
    z-index: 1;
    position: relative;
    cursor: pointer;
    transition: .2s ease-in-out;

}

section.html div.text .button4:hover{
    background-color: #08c680;
}

section.html div.text .button3{
    background-color: #FFF4A3;
    border-radius: 25px;
    width: 200px;
    padding: 14px 16px;
    color: black;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s ease-in-out;
}

section.html div.text .button3:hover{
    background-color: #FFF4A3;
}

section.html div.text .button5{
    background-color: black;
    border-radius: 25px;
    width: 200px;
    padding: 14px 16px;
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s ease-in-out;
}
section.html div.text .button5:hover{
    background-color: rgb(72, 69, 69);
}

section.html div.text .button2{
    background-color: #f6b2ba;
    border-radius: 25px;
    width: 200px;
    padding: 14px 16px;
    color: black;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s ease-in-out;
}

section.html div.text .button2:hover{
    background-color: #FFC0C7;
}

section.html div.image{
    flex: 1 1 30rem;
    background-color: #E7E9EB;
    padding: 30px;
    border-radius: 10px;
}

section.html div.image h1{
    margin-bottom: 20px;
}

section.html div.image div.down{
    background-color: white;
    border-left: 4px solid #04AA6D;
    padding: 10px 10px 50px;
}

section.html div.image div.down p{
    padding: 5px 0px;
}

section.html div.image div.down p.body, section.html div.image div.down p.para{
    margin-bottom: 25px;
}

section.html div.image .button4{
    background-color: #04AA6D;
    border-radius: 25px;
    width: 200px;
    padding: 14px 16px;
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    font-weight: bold;
    z-index: 1;
    position: relative;
    cursor: pointer;
    transition: .2s ease-in-out;
    margin-top: 13px;

}

section.html div.image .button4:hover{
    background-color: #08c680;
}





section.css{
    padding: 4rem 8% ;
    background-color:#FFF4A3;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

}


section.css div.text{
    flex: 1 1 20rem;
    align-items: center;
    text-align: center;
}

section.css div.text h1{
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
    color: black;
}

section.css div.text p{
    font-size: 20px;
    font-weight: 700;
    color: black;
    margin-bottom: 30px;
}

section.css div.text button{
    margin: 15px 0px;
}

section.css div.text .button4{
    background-color: #04AA6D;
    border-radius: 25px;
    width: 200px;
    padding: 14px 16px;
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    font-weight: bold;
    z-index: 1;
    position: relative;
    cursor: pointer;
    transition: .2s ease-in-out;

}

section.css div.text .button4:hover{
    background-color: #08c680;
}

section.css div.text .button3{
    background-color: #FFF4A3;
    border-radius: 25px;
    width: 200px;
    padding: 14px 16px;
    color: black;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s ease-in-out;
}

section.css div.text .button3:hover{
    background-color: #FFF4A3;
}

section.css div.text .button5{
    background-color: black;
    border-radius: 25px;
    width: 200px;
    padding: 14px 16px;
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s ease-in-out;
}
section.css div.text .button5:hover{
    background-color: rgb(72, 69, 69);
}

section.css div.text .button2{
    background-color: #f6b2ba;
    border-radius: 25px;
    width: 200px;
    padding: 14px 16px;
    color: black;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s ease-in-out;
}

section.css div.text .button2:hover{
    background-color: #FFC0C7;
}

section.css div.image{
    flex: 1 1 30rem;
    background-color: #E7E9EB;
    padding: 30px;
    border-radius: 10px;
}

section.css div.image h1{
    margin-bottom: 20px;
}

section.css div.image div.down{
    background-color: white;
    border-left: 4px solid #04AA6D;
    padding: 13px 20px 50px;
}

section.css div.image div.down p{
    padding: 5px 0px;
}

section.css div.image div.down p.spec{
    margin-left: 25px;
    margin-top: 5px;
}

section.css div.image .button4{
    background-color: #04AA6D;
    border-radius: 25px;
    width: 200px;
    padding: 14px 16px;
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    font-weight: bold;
    z-index: 1;
    position: relative;
    cursor: pointer;                   
    transition: .2s ease-in-out;
    margin-top: 13px;

}

section.css div.image .button4:hover{
    background-color: #08c680;
}



section.Javascript{
    padding: 4rem 8% ;
    background-color:#282A35;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

}


section.Javascript div.text{
    flex: 1 1 20rem;
    align-items: center;
    text-align: center;
}

section.Javascript div.text h1{
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
}

section.Javascript div.text p{
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-bottom: 30px;
}

section.Javascript div.text button{
    margin: 15px 0px;
}

section.Javascript div.text .button4{
    background-color: #04AA6D;
    border-radius: 25px;
    width: 200px;
    padding: 14px 16px;
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    font-weight: bold;
    z-index: 1;
    position: relative;
    cursor: pointer;
    transition: .2s ease-in-out;

}

section.Javascript div.text .button4:hover{
    background-color: #08c680;
}

section.Javascript div.text .button5{
    background-color: white;
    border-radius: 25px;
    width: 210px;
    padding: 14px 16px;
    color: black;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s ease-in-out;
}


section.Javascript div.text .button5:hover{
    background-color: rgb(231, 231, 231);
}

section.Javascript div.text .button2{
    background-color: #f6b2ba;
    border-radius: 25px;
    width: 200px;
    padding: 14px 16px;
    color: black;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s ease-in-out;
}

section.Javascript div.text .button2:hover{
    background-color: #FFC0C7;
}

section.Javascript div.image{
    flex: 1 1 30rem;
    background-color: #E7E9EB;
    border-radius: 10px;
    padding: 30px;
}

section.Javascript div.image h1{
    margin-bottom: 20px;
}

section.Javascript div.image div.down{
    background-color: white;
    border-left: 4px solid #04AA6D;
    padding: 13px 20px 50px;
}

section.Javascript div.image div.down p{
    padding: 5px 0px;
}

section.Javascript div.image div.down p.spec{
    margin-left: 25px;
    margin-top: 5px;
}

section.Javascript div.image .button4{
    background-color: #04AA6D;
    border-radius: 25px;
    width: 200px;
    padding: 14px 16px;
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    font-weight: bold;
    z-index: 1;
    position: relative;
    cursor: pointer;                   
    transition: .2s ease-in-out;
    margin-top: 13px;
}
section.Javascript div.image .button4:hover{
    background-color: #08c680;
}



section.python{
    padding: 4rem 8% ;
    background-color:#F3ECEA;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

}


section.python div.text{
    flex: 1 1 20rem;
    align-items: center;
    text-align: center;
}

section.python div.text h1{
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
    color: black;
}

section.python div.text p{
    font-size: 20px;
    font-weight: 700;
    color: black;
    margin-bottom: 30px;
}

section.python div.text button{
    margin: 15px 0px;
}

section.python div.text .button4{
    background-color: #04AA6D;
    border-radius: 25px;
    width: 200px;
    padding: 14px 16px;
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    font-weight: bold;
    z-index: 1;
    position: relative;
    cursor: pointer;
    transition: .2s ease-in-out;

}

section.python div.text .button4:hover{
    background-color: #08c680;
}

section.python div.text .button5{
    background-color: white;
    border-radius: 25px;
    width: 210px;
    padding: 14px 16px;
    color: black;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s ease-in-out;
}


section.python div.text .button5:hover{
    background-color: rgb(231, 231, 231);
}

section.python div.text .button2{
    background-color: #f6b2ba;
    border-radius: 25px;
    width: 200px;
    padding: 14px 16px;
    color: black;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s ease-in-out;
}

section.python div.text .button2:hover{
    background-color: #FFC0C7;
}

section.python div.image{
    flex: 1 1 30rem;
    background-color: #E7E9EB;
    padding: 30px;
    border-radius: 10px;
}

section.python div.image h1{
    margin-bottom: 20px;
}

section.python div.image div.down{
    background-color: white;
    border-left: 4px solid #04AA6D;
    padding: 13px 20px 200px;
}

section.python div.image div.down p{
    padding: 5px 0px;
}

section.python div.image div.down p.spec{
    margin-left: 25px;
    margin-top: 5px;
}

section.python div.image .button4{
    background-color: #04AA6D;
    border-radius: 25px;
    width: 200px;
    padding: 14px 16px;
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    font-weight: bold;
    z-index: 1;
    position: relative;
    cursor: pointer;                   
    transition: .2s ease-in-out;
    margin-top: 13px;
}
section.python div.image .button4:hover{
    background-color: #08c680;
}



section.sql{
    padding: 4rem 8% ;
    background-color:#96D4D4;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

}


section.sql div.text{
    flex: 1 1 20rem;
    align-items: center;
    text-align: center;
}

section.sql div.text h1{
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
    color: black;
}

section.sql div.text p{
    font-size: 20px;
    font-weight: 700;
    color: black;
    margin-bottom: 30px;
}

section.sql div.text button{
    margin: 15px 0px;
}

section.sql div.text .button4{
    background-color: #04AA6D;
    border-radius: 25px;
    width: 200px;
    padding: 14px 16px;
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    font-weight: bold;
    z-index: 1;
    position: relative;
    cursor: pointer;
    transition: .2s ease-in-out;

}

section.sql div.text .button4:hover{
    background-color: #08c680;
}

section.sql div.text .button5{
    background-color: white;
    border-radius: 25px;
    width: 210px;
    padding: 14px 16px;
    color: black;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s ease-in-out;
}


section.sql div.text .button5:hover{
    background-color: rgb(231, 231, 231);
}

section.sql div.text .button2{
    background-color: #f6b2ba;
    border-radius: 25px;
    width: 200px;
    padding: 14px 16px;
    color: black;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s ease-in-out;
}

section.sql div.text .button2:hover{
    background-color: #FFC0C7;
}

section.sql div.image{
    flex: 1 1 30rem;
    background-color: #E7E9EB;
    padding: 30px;
    border-radius: 10px;
}

section.sql div.image h1{
    margin-bottom: 20px;
}

section.sql div.image div.down{
    background-color: white;
    border-left: 4px solid #04AA6D;
    padding: 13px 20px 200px;
}

section.sql div.image div.down p{
    padding: 5px 0px;
}


section.sql div.image .button4{
    background-color: #04AA6D;
    border-radius: 25px;
    width: 200px;
    padding: 14px 16px;
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    font-weight: bold;
    z-index: 1;
    position: relative;
    cursor: pointer;                   
    transition: .2s ease-in-out;
    margin-top: 13px;
}
section.sql div.image .button4:hover{
    background-color: #08c680;
}


section.languages{
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 2rem ;
    gap: 5rem;
    background-color: #282A35;
}

section.languages div.lang{
    flex: 1 1 30rem;
    text-align: center;
    padding: 3rem 5rem;
    border-radius: 10px;
}

section.languages div.lang h1{
    font-size: 2.5rem;
    padding-bottom: 30px;
}

section.languages div.lang p{
    font-size: 18px;
    padding-bottom: 30px;
}

section.languages div.lang button{
    background-color: rgb(60, 57, 57);
    border-radius: 25px;
    width: 210px;
    padding: 14px 16px;
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s ease-in-out;
}
section.languages div.lang button:hover{
    background-color:black;
}

section.others{
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 2rem ;
    gap: 3rem;
    background-color: #282A35;
}

section.others div.other{
    flex: 1 1 15rem;
    border-radius: 10px;
    text-align: center;
    padding: 3rem 0rem;
    opacity: 0.9;
    cursor: pointer;
}
section.others div.other:hover{
    opacity: 1;
}

section.others div.other h1{
    font-size: 1.5rem;
}

section.excel{
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 2rem ;
    gap: 5rem;
    background-color: #282A35;
}

section.excel div.other{
    flex: 1 1 30rem;
    text-align: center;
    padding: 3rem 0rem;
    border-radius: 10px;
    opacity: 0.9;
    cursor: pointer;
}
section.excel div.other:hover{
    opacity: 1;
}

section.excel div.other h1{
    font-size: 1.8rem;
}

section.editor{
    background-color: #282A35;
    padding-top: 100px;
    text-align: center;
}
section.editor h1{
    color: white;
    font-size: 4rem;
    text-align: center;
    padding-bottom: 20px;
}

section.editor p{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 60px;
}

section.editor img{
    height: auto;
    border-radius: 4px;

}


 section.editor button{
    display: inline-block;
    margin-top: 15px;

} 

section.editor button.button1{
    font-size: 17px;
    border: none;
    border-radius: 5px;
    padding: 8px 18px;
    cursor: pointer;
    transition: .5s ease-in-out;
    background-color: #04c07b;
    color: #ffffff;
    font-weight: bold;
}

section.editor button.button1:hover{
    background-color: #04AA6D;

}

section.editor button.button2{
    font-size: 17px;
    border: none;
    border-radius: 5px;
    transition: .5s ease-in-out;
    padding: 8px 18px;
    cursor: pointer;
    background-color: #FFF4A3;
    color: black;
    font-weight: bold;
}

section.editor button.button2:hover{

    background-color: #f9e444;

}


section.w3school{
    background-color: #282A35;
    padding-top: 120px;
    text-align: center;
}
section.w3school h1{
    color: white;
    font-size: 3.5rem;
    text-align: center;
    padding-bottom: 20px;
}

section.w3school p.p1{
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
}
section.w3school p.p2{
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 60px;
}

section.w3school img{
    height: auto;
    border-radius: 4px;

}

section.work{
    background-color: #282A35;
    padding-top: 120px;
    text-align: center;
}


section.w3school img{
    height: auto;

}
section.work{
    text-align: center;
}
section.work button.learn{
    margin: 40px auto;
    font-size: 21px;
    width: 300px;
    padding: 13px 18px;
    background-color: #04AA6D;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
}

section.learning{
    background-color: #D9EEE1;
    padding-top: 100px;
    text-align: center;
}
section.learning h1{
    color: black;
    font-size: 4rem;
    text-align: center;
    padding-bottom: 20px;
}
section.learning p.p1{
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
}
section.learning p.p2{
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 60px;
}


section.learning img{
    height: auto;
    border-radius: 4px;

}


 section.learning button{
    display: inline-block;
    margin-top: 15px;

} 

section.learning button.button1{
    font-size: 17px;
    border: none;
    border-radius: 25px;
    padding: 15px 18px;
    cursor: pointer;
    transition: .5s ease-in-out;
    background-color: #04c07b;
    color: #ffffff;
    font-weight: bold;
    width: 300px;
    margin-bottom: 90px;
}

section.learning button.button1:hover{
    background-color: #04AA6D;

}




section.pro{
    background-color: #282A35;
    padding-top: 100px;
    text-align: center;
}
section.pro h1{
    color: white;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 20px;
}
section.pro p.p1{
    color: #FFC0C7;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
}

section.pro ul li{
    list-style-image: url("https://www.w3schools.com/spaces/files/check3.db67d31e.svg");
    color: white;
    font-size: 20px;
    line-height: 36px;
    list-style-type: none;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;

}

section.pro ul{
    padding-top: 20px;
    padding-bottom: 20px;
}

 section.pro button{
    display: inline-block;
    margin-top: 15px;

} 

section.pro button.button1{
    font-size: 17px;
    border: none;
    border-radius: 25px;
    padding: 15px 18px;
    cursor: pointer;
    transition: .5s ease-in-out;
    background-color: #04c07b;
    color: #ffffff;
    font-weight: bold;
    width: 300px;
    margin-bottom: 90px;
}

section.pro button.button1:hover{
    background-color: #04AA6D;

}



section.color{
    background-color: #F3ECEA;
    padding-top: 120px;
    text-align: center;
}
section.color h1{
    color: black;
    font-size: 3.5rem;
    text-align: center;
    padding-bottom: 20px;
}

section.color p.p1{
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;

}

section.color img{
    padding-bottom: 50px;
}

section.color img:hover{
    opacity: 0.7;

}


section.code{
    background-color: #96D4D4;
    padding-top: 120px;
    text-align: center;
}
section.code h1{
    color: black;
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Freckle Face', cursive;
    font-size: 48px;
}

section.code p.p1{
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Freckle Face', cursive;

}
section.code img{
    padding-bottom: 50px;
}

section.code img:hover{
    opacity: 0.7;

}

section.code button.button1{
    font-size: 17px;
    border: none;
    border-radius: 25px;
    padding: 15px 18px;
    cursor: pointer;
    transition: .3s ease-in-out;
    background-color: #282A35;
    color: #ffffff;
    font-weight: bold;
    width: 200px;
    margin-bottom: 90px;
}

section.code button.button1:hover{
    background-color:black;

}


section.quiz{
    background-color: #282A35;
    padding-top: 120px;
    text-align: center;
}
section.quiz h1{
    color: white;
    text-align: center;
    padding-bottom: 20px;
    font-size: 48px;
}

section.quiz p.p1{
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;

}

section.quiz div.quizapp{
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    padding: 50px;
}

section.quiz div.quizapp div.box1{
    flex: 1 1 20rem;
    background-color: #04AA6D;
    padding: 40px;
    cursor: pointer;
    border-radius: 5px;
}

section.quiz div.quizapp div.box1 h1{
    font-size: 2rem;
}
section.quiz div.quizapp div.box2{
    flex: 1 1 20rem;
    background-color: #FFF4A3;
    padding: 40px;
    cursor: pointer;
    border-radius: 5px;
}
section.quiz div.quizapp div.box2 h1{
    color: black;
    font-size: 2rem;
}

section.quiz div.quizapp div.box2:hover{
    background-color: #f9e444;
}


section.template{
    background-color: #E7E9EB;
    padding-top: 100px;
    text-align: center;
}
section.template h1{
    color: black;
    font-size: 4rem;
    text-align: center;
    padding-bottom: 20px;
}
section.template p.p1{
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}
section.template img{
    height: auto;
    width: 70%;
    margin-bottom: 10px;
    cursor: pointer;
}


 section.template button{
    display: inline-block;
    margin-top: 15px;

} 

section.template button.button1{
    font-size: 17px;
    border: none;
    border-radius: 25px;
    padding: 15px 18px;
    cursor: pointer;
    transition: .3s ease-in-out;
    background-color: #282A35;
    color: #ffffff;
    font-weight: bold;
    width: 800px;
    max-width: 400px;
    margin-bottom: 90px;
}

section.template button.button1:hover{
    background-color:black;

}

section.kickstart{
    padding: 50px;
    background-color: #282A35;

}

section.kickstart h1{
    font-size: 3rem;
    color: #FFC0C7;
    padding-bottom: 70px;
    font-weight: bold;
    line-height: 60px;

}

section.kickstart p{
    font-size: 2.3rem;
    color: #FFC0C7;
    font-weight: bold;
    line-height: 60px;
    padding-bottom: 40px;

}

section.kickstart img{
    float: right;
    border-radius: 50%;
    margin-top: 20px;
}

section.kickstart button.button1{
    font-size: 17px;
    border: none;
    border-radius: 25px;
    padding: 15px 18px;
    cursor: pointer;
    transition: .5s ease-in-out;
    background-color: #04c07b;
    color: #ffffff;
    font-weight: bold;
    width: 200px;
    margin-bottom: 90px;
}

section.kickstart button.button1:hover{
    background-color: #04AA6D;

}

section.how{
    background-color: white;
    padding-top: 100px;
    text-align: center;
}
section.how h1{
    color: black;
    font-size: 4rem;
    text-align: center;
    padding-bottom: 20px;
}
section.how p.p1{
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
}
section.how p.p2{
    color: black;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 60px;
}


section.how img{
    height: auto;
    width: 70%;

}


 section.how button{
    display: inline-block;
    margin-top: 15px;

} 

section.how button.button1{
    font-size: 17px;
    border: none;
    border-radius: 25px;
    padding: 15px 18px;
    cursor: pointer;
    transition: .5s ease-in-out;
    background-color: #282A35;
    color: #ffffff;
    font-weight: bold;
    width: 300px;
    margin-bottom: 90px;
}

section.how button.button1:hover{
    background-color:black;

}

footer{
    background-color: #282A35;
    padding-top: 40px;
}

footer div.box{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
}

footer div.box ul li{
    display: inline-flex;
}

footer div.box ul li{
    background-color: white;
    padding: 15px 18px;
    margin: 0 5px;
    border-radius: 5px;
}

footer div.box ul li:hover{
    background-color: whitesmoke;
}

footer div.box ul li a{
    color: black;
    font-weight: bold;
    font-size: 1rem;
}

footer div.box h1{
    color: white;
    font-size: 1rem;
}

footer p{
    color: white;
    text-align: center;
    padding: 30px 30px;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 25px;
}

footer div.links ul li{
    display: inline-flex;
    float: right;

}

footer div.links{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
}

footer div.links ul li a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 1.5rem;
}

footer div.thumb i{
    color: white;
    font-size: 3rem;
    padding-bottom: 40px;
}
footer div.thumb{
    text-align: center;
}








/* Media Query */

@media screen and (max-width:1350px) {
    .navbar ul li.close1{
        display: none;
    }
}

@media screen and (max-width:1300px) {
    .navbar ul li.close2{
        display: none;
    }
}

@media screen and (max-width:1160px) {
    header .button .button1{
        display: none;
    }
}

@media screen and (max-width:1065px) {
    header .button .button3{
        display: none;
    }
    footer div.box{
        display: block;
      text-align: center;
    }
    
    
    
    footer div.box ul li{
        background-color: white;
        padding: 15px 18px;
        margin: 15px 5px;
        border-radius: 5px;
    }
    
    footer div.box ul li:hover{
        background-color: whitesmoke;
    }
    
    footer div.box ul li a{
        color: black;
        font-weight: bold;
        font-size: 1rem;
    }
    
    footer div.box h1{
        color: white;
        font-size: 1rem;
    }
}

@media screen and (max-width:900px) {
    header .button .button2{
        display: none;
    }
    section.home div.title input{
        width: 70%;
    }
}

@media screen and (max-width:800px) {
    .navbar ul li a{
        display: none;
    }
    header .navbar ul li.main a{
        display: block;
    }
}

@media screen and (max-width:600px) {
    section.sql div.image,section.python div.image,section.html div.image,section.css div.image,section.Javascript div.image{
        display: none;
    }
    section.languages{
        padding: 4rem 1rem ;
        gap: 1rem;
    }
    section.others{
        padding: 3rem 1rem ;
        gap: 1rem;
    }
    section.quiz div.quizapp{
        gap: 3rem;
    }
    section.excel{
        padding: 3rem 1rem ;
        gap: 1rem;
    }
    section.kickstart img{
        margin-top: -450px;
        height: 100px;
        width: 100px;
        margin-right: -30px;
    }
}

@media screen and (max-width:1000px) {
  
    section.w3school img, section.learning img,  section.editor img{
        width: 95%;
        height: auto;
    }
    section.work img{
        display: none;
    }
    section.work button.learn{
        margin: 0px auto;
    }
    section.how img{
        height: auto;
        width: 90%;
    
    }
    
    

}